<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
                <li>
                    <a href="https://twitter.com/anton_atanasov8" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/anton.atanasov1" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://github.com/Atanasov86" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/100429733515338081215" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
            <p class="copyright lead text-center">Copyright &copy; Atanasoff Blog 2016</p>
        </div>
    </div>
</div>
