<div class="new-post">
    <form>
        <fieldset>
            <legend class="text-center">Create Post</legend>

            <div class="post-title">
                <label for="title">Title:</label>
                <input type="text" class="form-control" ng-model="createdPost.title" id="title" placeholder="Title of Post" required/>
            </div>
            <div class="post-author">
                <label for="author">Author:</label>
                <input type="text" class="form-control" ng-model="createdPost.author = userService.getCurrentUser().fullName" id="author" disabled ng-value="userService.getCurrentUser().fullName" />
            </div>

            <div class="post-category">
            	<label for="category">Category: </label>
            	<input class= "form-control" id="category" type="text" ng-model="createdPost.category" />
            	<p>{{createdPost.category}}</p>
            </div>

            <div class="post-tags">
                <label for="tags">Tags: </label>
                <tags-input id="tags" ng-model="tags">
                    <auto-complete source="getTags($query)"></auto-complete>
                </tags-input>
            </div>

            <div class="post-content">
                <label for="content">Content</label>
                <text-angular ng-model="createdPost.content" id="content"></text-angular>
            </div>

            <hr class="colorgraph">

            <div>
                <button ng-click="createPost(createdPost)" class="publish-btn btn btn-success btn-lg">Publish</button>
                <a href="#/" class="btn btn-primary btn-lg">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
