<div class="row login-container">
    <div class="col-md-offset-3 col-md-6 login-form">
        <span>Login via</span>
        <div class="social-buttons text-center">
            <a ng-click="singInWithFacebook()" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" ng-click="singInWithGooglePlus()" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
        </div>

        <hr class="colorgraph">
        <form class="form" role="form" id="login-nav">
            <div class="form-group">
                <label class="sr-only" for="emailInput">Email address</label>
                <input type="text" ng-model="user.email" class="form-control input-lg" id="emailInput" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="passwordInput">Password</label>
                <input type="password" ng-model="user.password" class="form-control input-lg" id="passwordInput" placeholder="Password" required>
                <div class="help-block text-right"><a href="#/forget-password">Forget the password ?</a></div>
            </div>
            
            <div class="form-group">
                <button type="submit" ng-click="singIn(user)" class="btn btn-success btn-block btn-lg">Sign In</button>
            </div>
            <div class="register-text">
                <p class="text-center">
                    Don`t have an account!
                    <a href="#/register"> Sing Up Here</a>.
                </p>
            </div>
        </form>
    </div>
</div>
