<div class="row login-form">
    <div class="col-md-12">
        <span>Login via</span>
        <div class="social-buttons text-center">
            <a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
        </div>
        or
        <form class="form" role="form" id="login-nav">
            <div class="form-group">
                <label class="sr-only" for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> keep me logged-in
                </label>
            </div>
        </form>
    </div>
