<div class="forget-password">
    <div class="forget-password-form text-center">
        <h2 class="text-center">Reset your password</h2>
        <hr class="colorgraph">
        <p class="text-left">Enter your username or email.</p>

        <form>
            <input ng-model="userData" class="form-control input-lg form-group" type="text" placeholder="Email or username"/>
            <button type="submit" ng-click="resetPassword(userData)" class="btn btn-primary btn-block btn-lg">Reset</button>
        </form>
    </div>
</div>