body {
    background-color: #EBEBEB;
}


/* Footer styles */

footer a {
    width: 45px;
}


/* End Footer styles */


/* sidebar styles*/

.sidebars {
    width: 18%;
    display: inline-block;
}

.categories,
.recent-posts,
.popular-tags {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.categories,
.popular-tags {
    margin-top: 20px;
}

.categories h4,
.recent-posts h4,
.popular-tags h4 {
    text-align: center;
    margin-top: 0;
}

.list-group {
    list-style: none;
}

.list-group li {
    margin-top: 5px;
}

a.list-group-item {
    font-size: 14px;
}


/* End sidebar styles */


/* Container styles*/

.main {
    float: right;
    width: 81%;
    margin-left: 10px;
    border-radius: 15px;
    display: inline-block;
}

hr {
    border-top: 1px solid white;
}


/* End container styles */


/* Login form styles */

.login-div {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.login-form {
    border: 1px solid #EBEBEB;
    padding: 20px;
    border-radius: 15px;
}

.register-text {
    border: 1px solid #EBEBEB;
    height: 56px;
    line-height: 56px;
}

.social-buttons .btn {
    width: 45px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

.social-buttons {}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}


/* End login form styles */


/* Register form styles */

.register-div {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.register-form {
    border: 1px solid #EBEBEB;
    padding: 20px;
    border-radius: 15px;
}

/* End register styles */
