body {
    background-color: #EBEBEB;
}


/* Container styles*/

.main {
    float: right;
    width: 81%;
    margin-left: 10px;
    border-radius: 15px;
    display: inline-block;
}

hr {
    border-top: 1px solid white;
}


/* End container styles */


/* Footer styles */

footer .list-inline a {
    width: 45px;
}


/* End Footer styles */


/* sidebar styles*/

.sidebars {
    width: 18%;
    display: inline-block;
}

.categories,
.recent-posts,
.popular-tags {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.categories,
.popular-tags {
    margin-top: 20px;
}

.categories h4,
.recent-posts h4,
.popular-tags h4 {
    text-align: center;
    margin-top: 0;
}

.list-group {
    list-style: none;
}

.list-group li {
    margin-top: 5px;
}

a.list-group-item {
    font-size: 14px;
}


/* End sidebar styles */


/* Login form styles */

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.login-form {
    border: 1px solid #EBEBEB;
    padding: 20px;
    border-radius: 15px;
}

.register-text {
    border: 1px solid #EBEBEB;
    height: 56px;
    line-height: 56px;
}

.social-buttons .btn {
    width: 45px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

.social-buttons {}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}


/* End login form styles */


/* Register form styles */

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.register-form {
    border: 1px solid #EBEBEB;
    padding: 20px;
    border-radius: 15px;
}


/* End register styles */


/* Post styles */

.post-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.post {
    padding: 3em 3em 1em 3em;
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin: 0 0 3em 0;
    position: relative;
    border-radius: 15px;
}

.post > header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    left: -3em;
    margin: -3em 0 3em 0;
    position: relative;
    width: calc(100% + 6em);
}

.post > header .title {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -ms-flex: 1;
    padding: 3.75em 3em 3.3em 3em;
}

.post > header .title h2 {
    font-weight: 900;
    font-size: 1.5em;
}

.post > header .title h2 > a {
    cursor: pointer;
}

.post > header .title >:last-child {
    margin-bottom: 0;
}

.post > header .meta {
    padding: 3.75em 3em 1.75em 3em;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    min-width: 17em;
    text-align: right;
    width: 17em;
}

.post > header .meta > * {
    margin: 0 0 1em 0;
}

.post > header .meta >:last-child {
    margin-bottom: 0;
}

.post > header .meta .published {
    color: #3c3b3b;
    display: block;
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-top: 0.5em;
    text-transform: uppercase;
    white-space: nowrap;
}

.post > a.image.featured {
    overflow: hidden;
}

.post > a.image.featured img {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.post > a.image.featured:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.post > footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.post > footer .actions {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

.post > footer .stats {
    cursor: default;
    list-style: none;
    padding: 0;
}

.post > footer .stats li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    display: inline-block;    
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1;
    margin: 0 0 0 2em;
    padding: 0 0 0 2em;
    text-transform: uppercase;
}

.post > footer .stats li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

.post > footer .stats li .icon {
    border-bottom: 0;
}

.post > footer .stats li .icon:before {
    color: rgba(160, 160, 160, 0.3);
    margin-right: 0.75em;
}

.post > footer .tags {    
    padding: 15px 15px 15px 0;
    border-radius: 10px;    
}

.post > footer .tags a {
    margin: 5px;
    background-color: #F3F3F3;
    padding: 5px 10px;
    color: #626262;
    border-radius: 3px;
    display: inline-block;
}

.post > footer .tags a:hover {
    text-decoration: none;
    background-color: #E6E6E6;    
}

.actions {
    list-style: none;
    padding-left: 0;
}

.actions a {
    color: #4582EC;
}

.actions a:hover {
    color: #4582EC;
}


.author {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    border-bottom: 0;    
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

.author .name {
    -moz-transition: border-bottom-color 0.2s ease;
    -webkit-transition: border-bottom-color 0.2s ease;
    -ms-transition: border-bottom-color 0.2s ease;
    transition: border-bottom-color 0.2s ease;
    border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
    display: block;
    margin: 0 1.5em 0 0;
}

.author img {
    border-radius: 100%;
    display: block;
    width: 4em;
}

.author:hover .name {
    border-bottom-color: transparent;
}

/* End post styles */

/* Comment styles */

.comment-form {
    width: 35%;
}

/* End comment style */